body{
    background-color: gray;

}

h1{
    color: red;
}

.navbar{
    border-style: solid;
    background-color: white;
    border-color: black;
    margin: none;
    border-width: 2px;
    text-align: center;
    padding: 20px;
  
}

.navbar a{
    padding: 2px;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    font-size: 20px;
    color: black;
    
}

.navbar a:hover{
    color:aqua;
    background-color: blueviolet;

}

.card{
    border: 1px solid black;
    width: 350px;  
    text-align: center;
    overflow: hidden;
    border-radius: 35px;
    margin-top: 70px;
    background-color: aliceblue;
    margin-left: auto;
    margin-right: auto;
}

.card img{
    width: 100%
    
}